@page "/responsibilities/certification"

<PageTitle>Certification</PageTitle>

<div class="fluid-container">
    <h1 class="small text-center mt-5">Certification</h1>

    <h2 class="thick mt-5">Introduction</h2>
    <h2 class="thin">....................</h2>
    <div class="fluid-container justify-content-center align-items-center">
        <img style="display: block; margin: auto; width: 300px; height: auto; margin-bottom:3rem;" src="imgs/oracle-partner-logo.png"/>
    </div>
    <p class="thin ms-5" style="text-indent: 2em;">When I joined Hospitality Technologies the company had just formed 
        and was starting the process of joining Oracle partner programe. 
        This meant that we had to have a certain number of staff that were Oracle certified for field delivery and support consulation. 
        As a result I had the pleasure of being trained and certified by Oracle - FBGBU.
    </p>

    <h2 class="thick mt-5">Certifications</h2>
    <h2 class="thin">.....................</h2>
    <TabItem>Oracle Global Compliance - Oracle Information Protection Awareness (IPA)</TabItem>
    <TabItem>Oracle Global Compliance - Oracle Software Security Assurance (OSSA)</TabItem>
    <TabItem>Oracle Hospitality for Food and Beverage Simphony Implementation Consultant</TabItem>
</div>

@code
{
    public static string Route => "responsibilities/certification";
}