@page "/"
@inject NavigationManager Nav

<PageTitle>Ahmed Shaamil</PageTitle>

<div style="visibility:hidden">@Nav.BaseUri</div>

<div class="flex-container">
    <h1 class="text-center mt-5">ahmed shaamil</h1>

    <div class="mt-5">
        <h2 class="thick">Introduction</h2>
        <h2 class="thin">....................</h2>
        <TabItem TabHeader="From: ">Hithadhoo, Addu City</TabItem>
        <TabItem TabHeader="Current Title: ">Products & Development Consultant</TabItem>
        <TabItem TabHeader="Certification: ">GCSE A Level</TabItem>
        <TabItem TabHeader="Experience: ">7 Years - Hospitality Technology</TabItem>
    </div>
    <div class="row mx-0">
        <div class="col-xl-7 mt-5 px-0">
            <h2 class="thick">Responsibilities</h2>
            <h2 class="thin">........................</h2>
            <div>
                <p class="thick">YEAR 1 - 2:</p>
                <TabItem Href="@Pages.Responsisbilities.Certification.Route">Training for Oracle Certification</TabItem>
                <TabItem Href="@Pages.Responsisbilities.InternalFinancialApps.Route">Creating internal application</TabItem>
                <TabItem>Scripting & optimizing workflow</TabItem>
                <TabItem>Assessing & defining configuration strategies for vague features with unreliable documentation</TabItem>
            </div>
            <div class="mt-3">
                <p class="thick">YEAR 3 - 5:</p>
                <TabItem>POS Implementation & training</TabItem>
                <TabItem>Creating reports & data wearhousing</TabItem>
                <TabItem>Custom integration between multiple systems</TabItem>
                <TabItem>Attending mission critical tasks</TabItem>
            </div>
            <div class="mt-3">
                <p class="thick">YEAR 6 - 7:</p>
                <TabItem>Defining enterprise configuration standards</TabItem>
                <TabItem>Resolving macro operational inefficiencies</TabItem>
                <TabItem TabValue="2">Tracking and managing OC and ENT revenue</TabItem>
                <TabItem TabValue="2">High volume covers leading to human errors during billing</TabItem>
                <TabItem TabValue="2">Redundant work to track gues allergies done by multiple teams</TabItem>
            </div>
        </div>
        <div class="col-xl-5 mt-5 px-0">
            <h2 class="thick">Skills</h2>
            <h2 class="thin">.......</h2>
            <div>
                <p class="thick">Programing:</p>
                <TabItem>Automation Scripting</TabItem>
                <TabItem>Desktop Apps</TabItem>
                <TabItem>Web API</TabItem>
                <TabItem>Web Apps</TabItem>
                <TabItem>Compute Shaders</TabItem>
                <TabItem>Reverse Engineering</TabItem>
                <TabItem>Plugins & Integretion</TabItem>
            </div>
            <div class="mt-3">
                <p class="thick">Reporting:</p>
                <TabItem>SQL (MSSQL , Oracle SQL, My SQL)</TabItem>
                <TabItem>No SQL (MongoDB)</TabItem>
                <TabItem>Datawarehousing</TabItem>
                <TabItem>Oracle Report Builder</TabItem>
                <TabItem>PDF rendered reports</TabItem>
                <TabItem>Excel reports using VBA</TabItem>
            </div>
            <div class="mt-3">
                <p class="thick">Others:</p>
                <TabItem>Solutions architect</TabItem>
                <TabItem>Effective communication</TabItem>
                <TabItem>Project management</TabItem>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="thick">Trusted By</h2>
        <h2 class="thin">..................</h2>
    </div>
    <div class="img-grid">
        <img src="imgs/logos/1.soneva.png" class="img-fluid" />
        <img src="imgs/logos/2.minor.png" class="img-fluid" />
        <img src="imgs/logos/3.fourseasons.png" class="img-fluid" />
        <img src="imgs/logos/4.adaaran.png" class="img-fluid" />
        <img src="imgs/logos/5.vakkaru.png" class="img-fluid" />
        <img src="imgs/logos/6.marriot.png" class="img-fluid" />
        <img src="imgs/logos/7.amillla.png" class="img-fluid" />
        <img src="imgs/logos/8.velaa.png" class="img-fluid" />
        <img src="imgs/logos/9.oneandonly.png" class="img-fluid" />
        <img src="imgs/logos/10.universal.png" class="img-fluid" />
        <img src="imgs/logos/11.sunsiyam.png" class="img-fluid" />
        <img src="imgs/logos/12.ccr.png" class="img-fluid" />
    </div>
    
    <h2 class="thick ms-0 mt-5 mb-5" style="justify-self:center;font-size:2.5rem;text-align:center;">and many more...</h2>
    <h2 class="thick mt-5">Get in touch</h2>
    <h2 class="thin mb-5">....................</h2>
    <TabItem Href="mailto:shaamilahmed@gmail.com?subject=Hi!&body=I%20wanted%20to%20reach%20out%20about..." TabHeader="Email: ">shaamilahmed@gmail.com</TabItem>
    <TabItem Href="https://wa.me/9607818016" TabHeader="Whatsapp: ">+960-7818016</TabItem>
    <div style="margin-bottom:7rem;"/>
</div>