@page "/work-in-progress"

<PageTitle>503</PageTitle>

<div class="flex-container">
    <h1 class="text-center mt-5">503</h1>

    <div class="mt-5 mb-5">
        <h2 class="thick">Push Pending</h2>
        <h2 class="thin">....................</h2>
        <p class="thick">The commit has not been pushed to repo just yet. We are awaiting feature updates.</p>
    </div>
</div>

@code
{
    public static string Route => "work-in-progress";
}